version: 2.1

jobs:
  say-hello:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          name: Show source code files
          command: ls

workflows:
  say-hello-workflow:
    jobs:
      - say-hello
